body{
    background: black;
}
main{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-style: normal;
    font-weight: normal;
}
header .border{
    border-bottom: 1px solid white;
    width: 100%;
}
.header{
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .imeg{
    margin-top: 8px ;
    margin-bottom: 10px;
}
.header .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .link{
    margin-left: 42px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-style: normal;
    font-weight: normal;
}
.information{
    margin-top: 92px;
}
.information .imeg_and_information{
    display: flex;
}
.logo{
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
.information .rat{
    display: none;
}
.information .info1{
    max-width: 514px;
    margin-left: 62px;
}
.information h1{
    font-size: 36px;
    font-weight: 900;
    line-height: 42px;
}
.information .p1{
    margin-top: 12px;
    color: #A5A5A5;
    font-size: 18px;
    line-height: 21px;
}
.information .span1{
    margin-left: 19px;
    color: #363636;
    font-size: 18px;
    line-height: 21px;
}
.information .p2{
    margin-top: 33px;
    font-size: 14px;
    line-height: 150%;
}
.information .info{
    display: flex;
    align-content: center;
    margin-top: 32px;
}
.information .info2{
    display: flex;
    align-content: space-between;
    font-size: 16px;
    flex-direction: column;
    flex-basis: 50%;
}
.information span{
    width: 100px;
    display: inline-block;
    margin-right: 10px;
    color: #B7B7B7;
    font-weight: bold;
}
.information .p{
    margin-bottom: 16px;
}
.information .rating{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.information .expectation_rating{
    display: flex;
    align-items: center;
}
.information .rating1{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    color: #7DBACD;
    border: 2px solid #7DBACD;
    border-radius: 10px;
    margin-right: 34px;
}
.information .rating2{
    width: 95px;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
}
.information .rating3{
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #7DBACD;
}
.information .rating4{
    width: 25px;
    height: 25px;
    margin-right: 14px;
}
.actors .border{
    border: 1px solid #D8670D;
    box-shadow: 0px 0px 12px #D8670D;
    margin-top: 93px;
}
.actors{
    padding-bottom: 65px;
}
.actors .info4{
    margin-top: 70px;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
.actors .S{
    margin-left: 30px;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #A5A5A5;
}
.actors .image{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.actors .actr{
    display: flex;
    align-items: center;
    flex-basis: calc(100%/12*3);
    margin-bottom: 35px;
    padding-left: 15px;
    padding-right: 15px;
}
.actors .name{
    flex-direction:column
}
.actors .rus_name{
    font-size: 16px;
    line-height: 19px;
    color: #7DBACD;
    margin-left: 21px;
    margin-bottom: 6px;
}
.actors .en_name{
    font-size: 16px;
    line-height: 19px;
    color: #A5A5A5;
    margin-left: 21px;
}
.related_news{
    background: #F3F3F3;
}
.related_news .caption{
    padding-top: 70px;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.related_news .news_all{
    margin-top: 65px;
    display: flex;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
}
.related_news .news1, .related_news .news2, .related_news .news3, .related_news .news4{
    flex-basis: calc(100%/12*3);
    margin-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
}
.related_news .text{
    color: black;
    background: #FFFFFF;
    padding: 30px;
    height: 100%;
}
.related_news .date{
    font-size: 14px;
    line-height: 16px;
}
.related_news .event{
    margin-top: 14px;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
}
footer{
    background: black;
}
.footer{
display: flex;
justify-content: space-between;
width: 100%;
font-size: 20px;
margin: 40px 0 40px 0;
}
.container{
    max-width: 1160px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 1024px){
    .header .menu{
        display:none;
    }
    .header .imeg{
        margin-top: 5px ;
        margin-bottom: 7px;
        margin-left: 28px;
    }
    .information{
        margin-top: 30px;
    }
    .information .imeg_and_information{
        flex-direction: column;
        align-items: center;
    }
    .information .imeg{
        /* margin-left: 28px;
        margin-right: 28px; */
        align-items: center;
        margin-bottom: 20px;
        width: 319px;
        height: 464px;
    }

    .little{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .information .info1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 315px;
        margin: auto;
    }
    .information .inf{
        flex-direction: column;
    }
    .information .p2{
        margin-top: 20px;
        width: 315px;
    }
    .information .rat{
        display: flex;
        align-items: center;
        font-size: 16px;
        color: #7DBACD;
        margin-top: 40px;
        margin-bottom: 60px;
    }
    .information .rat3{
        display: flex;
        align-items: center;
        font-size: 16px;
        color: #7DBACD;
    }

    .information .rat4{
        display: flex;
        align-items: center;
        margin-right: 14px;
    }
    .information h1{
    margin-bottom: 25px;
    }
    .information .rating{
        width: 210px;
    }
    .information .rating3, .information .rating4{
        display:none;
    }
    .actors .image{
        justify-content: left;
    }
    .actors .border{
        border: 1px solid #D4D4D4;
    }
    .actors .info4{
        margin-left: 28px;
    }
    .related_news .news2, .related_news .news3, .related_news .news4{
        display:none;
    }
    .related_news .caption{
        margin-left: 28px;
        padding-top: 53px;
    }
    .related_news .news1{
        margin-bottom: 60px;
        margin-left: 28px;
    }
    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header{
        display: flex;
    }
    .container{
        margin-right: auto;
        margin-left: auto;
    }

}